<!-- HEADER 1 NO-TRANSPARENT -->
<header id="nav" class="header header-1 no-transparent mobile-no-transparent">

  <div class="header-wrapper">
  <div class="container-m-30 clearfix">
    <div class="logo-row">

    <!-- LOGO -->
    <div class="logo-container-2">
        <div class="logo-2">
          <a href="index.html" class="clearfix">
          <div style="height:42px;" ><h5 class="section-title-2" style=" padding: 3px 1px 1px 1px;">DSI<span class="bold">SeeFood</span></h5></div>
          </a>
        </div>
      </div>
    <!-- BUTTON -->
    <div class="menu-btn-respons-container">
      <button type="button" class="navbar-toggle btn-navbar collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse">
        <span aria-hidden="true" class="icon_menu hamb-mob-icon"></span>
      </button>
    </div>
   </div>
  </div>


<div class="main-menu-container">

    <div class="container-m-30 clearfix">

      <!-- MAIN MENU -->
      <div id="main-menu">
        <div class="navbar navbar-default" role="navigation">

        <!-- MAIN MENU LIST -->
        <nav class="collapse collapsing navbar-collapse right-1024">
          <ul class="nav navbar-nav">

            <!-- MENU ITEM -->
            <li class="parent">
              <a href="/"><div class="main-menu-title">HOME</div></a>
            </li>
            <li class="parent">
              <a href="/predict"><div class="main-menu-title">UPLOAD</div></a>
            </li>
            <li class="parent">
              <a href="/evolve"><div class="main-menu-title">EVOLUTION</div></a>
            </li>


            <!-- MENU ITEM -->
            <li id="menu-contact-info-big" class="parent megamenu">
                        <a href="#"><div class="main-menu-title">CONTACT</div><span class="open-sub"></span></a>
                        <ul class="sub">
                          <li class="clearfix">
                            <div class="menu-sub-container">

                              <div class="box col-md-3 menu-demo-info closed">
                                <h5 class="title">Links<span class="open-sub"></span></h5>
                                <ul>
                                <li><a href="https://github.com/jmsulli6464">GitHub</a></li>
                                <li><a href="http://johnsullivan.space/">Website</a></li>
                                <li><a href="http://www.sullottadb.com/">Blog</a></li>
                                <li><a href="http://www.linkedin.com/in/John-M-Sullivan">LinkedIn</a></li>
                                </ul>
                              </div>

                              <div class="col-md-3 menu-contact-info">
                                <ul class="contact-list">
                                  <li class="contact-loc clearfix">
                                    <div class="loc-icon-container">
                                      <span aria-hidden="true" class="icon_pin_alt main-menu-contact-icon"></span>
                                    </div>
                                    <div class="menu-contact-text-container">Denver, CO</div>
                                  </li>
                                  <li class="contact-phone clearfix">
                                    <div class="loc-icon-container">
                                      <span aria-hidden="true" class="icon_phone main-menu-contact-icon"></span>
                                    </div>
                                    <div class="menu-contact-text-container">303-257-9338</div>
                                  </li>
                                  <li class="contact-mail clearfix">
                                    <div class="loc-icon-container">
                                      <span aria-hidden="true" class="icon_mail_alt main-menu-contact-icon"></span>
                                    </div>
                                    <div class="menu-contact-text-container">
                                      <a class="a-mail" href="mailto:info@haswell.com">John@sullotta.com</a>
                                    </div>
                                  </li>
                                </ul>
                              </div>

                              <div class="col-md-6 menu-map-container hide-max-960 ">
                                <!-- Google Maps -->
                                <div class="google-map-container">
                                  <img src="{{url_for('static', filename='../static/images/map-line.png')}}" alt="alt">
                                </div>
                                <!-- Google Maps / End -->
                              </div>

                            </div>
                          </li>
                        </ul>
                      </li>
              </ul>
            </li>

          </ul>

        </nav>

        </div>
      </div>
      <!-- END main-menu -->

    </div>
    <!-- END container-m-30 -->

</div>
<!-- END main-menu-container -->
